#sweet { width: 400px; height: 400px; overflow: hidden; }
.salty { width: 400px; overflow: auto; height: 400px; background-color:rgba(186,186,186,.3);position: relative; top: 400px; -webkit-transition-duration: .7s; -moz-transition-duration: .7s; -o-transition-duration: .7s; opacity:0;}
#sweet:hover .salty { top: 0px; opacity:1;}
