<style>
#sweet { width: 400px; height: 400px; overflow: hidden; }
.salty { width: 400px; overflow: auto; height: 400px; background-color:rgba(250,250,250,.85);position: relative; top: 400px; -webkit-transition-duration: .7s; -moz-transition-duration: .7s; -o-transition-duration: .7s; }
#sweet:hover .salty { top: 0px; }</style>
<center><link href='https://fonts.googleapis.com/css?family=Philosopher:400italic|Neuton' rel='stylesheet' type='text/css'>
<div id="sweet"><div style="width: 400px; height:400px; background-image: url('https://i.imgur.com/n2kuGSB.png');"><div class="salty"><div style="color:#902727; font-family:neuton; line-height:15px; word-spacing: 5px; font-size: 9pt;padding:20px;">
<p>TEXT HERE</p>
<center><font style="color:#670B0B; font-size:10px; letter-spacing:5px;font-family:philosopher;"><b>"hello hello"</b></font style> </center>
</div></div></div></div></center>
